/* Poppins Font from google */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:wght@600;700;800&family=Poppins:wght@500;600;700&family=Space+Mono:wght@400;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{

    font-family: 'Poppins', sans-serif;
    margin: 0;

}

:root{
    --text-color: #3A3A3A;
    --btn-color: #E02C6D;


}


/* nav bar style */

header{

    max-width: 1200px;

    margin: 60px auto;

  

}

nav{

    display: flex;
    justify-content: space-between ;
    align-items: center;

}

nav > ul{
    display: flex;
    
    align-items: center;
}

ul>li{

    list-style: none;
    
    
   
}

ul>li a{
    border-radius: 8px;
    
    text-decoration: none;
    color: var(--text-color);
    padding: 20px;

}

ul>li :hover{

    background-color: #E02C6D;
}

nav h1{

    color:var(--text-color);
    font-size: 1.4rem;
    font-weight: 700;
    
}

/* Banner Style */

.banner-container{
    margin-top: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.banner-title{

    color: #3A3A3A;
    font-size: 2.9rem;
    font-weight: 700;
    line-height: 70px;
   
}

.banner-details{

    color: #3A3A3A;
    font-size: 0.9rem;
    font-weight: 600;
    margin: 30px 0;
   

}

.btn-primary{

    color: #fff;
    
    border: none;
    padding: 10px 14px;
    display: inline-flex;
    border-radius: 41px;

    background-color: var(--btn-color);

}
.banner-image{
   
   
    background-image: url('/images/Ellipse.svg');
    background-repeat: no-repeat;
    background-size: 420px 100%;
    background-position: top right;
   
}
.banner-image img{

    width: 400px;
}


/* Main Section design */

main{

    max-width: 1100px;
    margin: 0 auto;
    
}

.sponsar-container{
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
    padding: 20px 0;
    box-shadow: -4px 0px 24px -15px #888888;  
}


/* Collection section */

.collection{

    max-width: 1050px;
    margin: 80px auto;

}

.collection-container{

    
    display: grid;
    grid-template-columns: repeat(3,1fr);

}


.collection-title{

    color: #3A3A3A;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 70px; 
    text-align: center;
    margin-bottom: 30px;
}

.cart{

    width: 320px;
    height: 450px;

    padding: 15px;
    
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);

    margin: 0 10px 10px 0;
   
}
.cart img{

    width: 100%;
    height: auto;

}
.cart-title{
    color: #18191F;
    
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 40px;

}
.cart-price{

    color: rgba(0, 0, 0, 0.87);
    
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 10px 0;
}
.cart-details{

    color:  #787885;
    font-style: normal;
    font-weight: 600;
    line-height: 143%; 
    margin: 10px 0;
    letter-spacing: 0.252px;
    
}

/* Star section */
.checked{

    color: orange;
}



/* Responsive section */


@media screen and (max-width: 576px) {

    nav, .banner-container{

        flex-direction: column;
     
    
    }

    nav > ul{
         
        margin-top: 30px;
        
    }

    ul>li a{
        
        padding: 15px;
    
    }
    .banner-container{

        flex-direction: column-reverse;
        text-align: center;
    }
    .sponsar-container
    {
        flex-wrap: wrap;
        gap: 20px;
    
    }
    


}


@media screen and (min-width:576px) and (max-width: 960px){

    nav{

        flex-direction: column;
       
    }

    nav > ul{
         
        margin-top: 30px;
        
    }

    ul>li a{
        
        padding: 20px;
    
    }
    .banner-container{

        flex-direction: column-reverse;
        text-align: center;
    }

    .sponsar-container
    {
        flex-wrap: wrap;
        gap: 20px;
    
    }


}